<!doctype html>
<html>
  <head>
    <title>allover.js</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- dependencies -->
    <script type="text/javascript" src="js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/colorbrewer.js"></script>
    <script type="text/javascript" src="js/three.min.js"></script>
    <script type="text/javascript" src="js/stats.min.js"></script>
    <script type="text/javascript" src="js/d3.v2.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/allover.js"></script>
    <script type="text/javascript" src="js/facebox.js"></script>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/facebox.css">
    <link rel="stylesheet" type="text/css" href="css/allover.css">
  </head>
  <body>

    <div id="sidebar">
      <div class="sidebar_element"><select id="colorize-select"></select></div>
      <div class="sidebar_element">
        <input type="button" id="resetButton" value="Reset View" />
      </div>
      <div class="sidebar_element" id="pointSizeSlider"></div>
      <div class="sidebar_element" id="pointSizeText"></div>
      <div class="sidebar_element" id="classificationLegend"></div>
      <div class="sidebar_element">
        <p><a href="#keyboard_shortcuts" rel="facebox">Shortcuts</a></p>
      </div>
    </div>

    <div id="viewer"></div>

    <div id="keyboard_shortcuts" style="display:none"></div>

    <script type="text/javascript">

      $(document).ready(function() {
        
        var url = '<%= url %>',
            WIDTH = window.innerWidth,
            HEIGHT = window.innerHeight,
            VIEW_ANGLE = 45,
            ASPECT = WIDTH / HEIGHT,
            NEAR = 0.1,
            FAR = 10000,
            data = [],
            container = $( '#viewer' ),
            renderer,
            camera,
            scene,
            controls,
            pbox,
            material,
            stats,
            loadingImg,
            viewer,
            stats = true,
            options = {
              progressBar: true,
              buttonClass: 'btn',
              loadingImgSrc: null
            };

        init();
        animate();

        function init() {

            renderer = new THREE.WebGLRenderer();
            camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR );
            scene = new THREE.Scene();
            scene.add( camera );
            controls = new THREE.QTControls( camera, container[0] );

            // the shaders are contained in their own file, the profile shader enables both
            // vertex colors and point clipping
            var shader = Allover.ShaderUtils.lib[ 'profile' ];

            // create the profile box
            // currently the shader attributes and uniforms are defined here, but maybe there is a better way
            pbox = new Allover.ProfileBox( camera, container[0] );

            material = new THREE.ShaderMaterial({

              attributes: pbox.attributes,
              uniforms: pbox.uniforms,
              depthTest: true,
              transparent: true,
              vertexColors: THREE.VertexColors,
              vertexShader: shader.vertexShader,
              fragmentShader: shader.fragmentShader
            
            });

            if ( stats ) {
            
                stats = new Stats();
                stats.domElement.style.position = 'absolute';
                stats.domElement.style.top = '0px';
                container.append( stats.domElement );
            
            } else {
                
                stats = null;
            
            }

            if ( options.loadingImgSrc ) {
                
                loadingImg = $('<img src="' + options.loadingImgSrc + '"></img>');
                loadingImg.appendTo( container )
                    .attr('style', 'position: absolute; top: ' +
                        window.innerHeight / 2 + 'px; left:' +
                        window.innerWidth / 2 + 'px;');
            
            }

            // attempt to load the GeoJSON point cloud
            $.ajax({
              
              url: url,
              dataType: 'json',
              context: this
            
            }).done(function( json ) {
             
              data = json;
              viewer = new Allover.viewer( data, material, pbox, scene, controls, options );

            }).fail(function( xhr, error, status ) {
              
              console.log( xhr );
              console.log( error );
              console.log( status );
            
            });
        };
        
        function animate() {
     
            // the requestAnimationFrame shim has been in three.js since r47, see the change log
            // @see https://github.com/mrdoob/three.js/tree/r47
            window.requestAnimationFrame( animate );
       
            renderer.setSize( WIDTH, HEIGHT );
            container.append( renderer.domElement );

            render();

        };

        function render() {

            renderer.render( scene, camera );
            controls.update();

            // no need to update the profile box until it has been created
            if ( pbox.profileBox !== undefined ) {
              
              pbox.update();
            
            }

            stats.update();
        
        };
      });

    </script>
  </body>
</html>
