<!doctype html>
<html>
  <head>
    <title>allover.js</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- dependencies -->
    <script type="text/javascript" src="js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/colorbrewer.js"></script>
    <script type="text/javascript" src="js/three.min.js"></script>
    <script type="text/javascript" src="js/stats.min.js"></script>
    <script type="text/javascript" src="js/d3.v2.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/allover.js"></script>

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <style>
      #footer {
        top: 680px;
        right: 140px;
        text-align: right;
      }

      .hint {
        position: absolute;
        right: 0;
        width: 1280px;
        font-size: 12px;
        color: #99;
      }
    </style>
  </head>
  <body>

    <div id="viewer"></div>
    <div id="footer">
      <div>colorize: <select>
        <optgroup label="Colorize by">
          <option selected value="imagery">Imagery</option>
          <option value="intensity">Intensity</option>
          <option value="elevation">Elevation</option>
          <option value="pcid">Point Cloud ID</option>
          <option value="classification">Classification</option>
        </optgroup>
      </select></div>
      <input type="button" id="resetButton" value="Reset View" />
    <div>

    <script type="text/javascript">

      $(document).ready(function() {
        $.ajax({
          url: '<%= url %>',
          dataType: 'json',
          context: this
        }).done(function( json ) {
          Allover.viewer.run({
            data: json,
            container: $('#viewer')
          });
        }).fail(function( xhr, error, status ) {
          console.log(xhr);
          console.log(error);
          console.log(status);
        });
      });

    </script>
  </body>
</html>
